*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 54px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
body{
    background-color: #ECF2FF;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #3E54AC;
    
}

.tictactoe3x3{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

}
.tictactoe4x4{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.tictactoe5x5{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.tictactoe6x6{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.box{
    border: 1px solid #3E54AC;
    height: 80px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

button{
    background-color: #3E54AC;
    color: #ECF2FF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
#select{
    padding: 5px 25px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}
.option{
    padding: 0px 15px;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #ECF2FF;
    color: #3E54AC;
    border: 1px solid #3E54AC;
}
    
label{
    font-size: 20px;
    margin-right: 10px;
}
@media only screen and (max-width:796px) {
    *{
        font-size: 30px;
    }

}